/* =============================================== */
/* Arches v4 Default CSS for Graph Manager
/* =============================================== */



/* Chosen Overrides
---------------------------------------------- */
.chosen-container-single .chosen-single {
	background: #314151;
	border: 1px solid #314151;
	color: #fff;
	height: 32px;
}

.chosen-container .chosen-results {
	background: #314151;
	color: #fff;
	margin-right: 0px;
}

.chosen-container-single .chosen-drop {
	background: #314151;
}

.chosen-container-single .chosen-single div b:before {
    content: "\f0d7";
    font: normal normal normal 14px/1 FontAwesome;
    vertical-align: -50%;
    color: #ddd;
}

.chosen-container {
	color: #bbb;
}

.chosen-container a, .chosen-container a:hover {
    cursor: pointer;
    color: #fff;
}



/* Library Panel
---------------------------------------------- */
.library {
	position: absolute; 
	top: 0px;
	bottom: 0; 
	opacity: .95; 
	padding: 0px 20px 20px 10px; 
	z-index: 200;
}

.library-right {
	position: absolute; 
	top: 0px; 
	right: 0px;
	bottom: 0px;
	/*border-right: 1px solid #123;*/
	z-index: 400;
	opacity: .95; 
	padding: 0 0 20px 0; 
}

.library-wide {
	width: 400px; 
}

.library-medium {
	width: 300px; 
}

.library-narrow {
	width: 220px; 
}

.library-dark {
	background: #37495b; /*#1E3143; */
	border-left: 1px solid #1E3143;
	color: #ddd;
} 

.library-bright {
	background: #fff; 
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
} 

.library-instructions {
	font-size: 11px;
	margin-left: 5px;
	margin-top: -15px;
}

.clear-search {
	position: absolute; 
	right: 15px; 
	top: 97px; 
	color: #123; 
	font-size: 19px;
}

.clear-search:hover {
	cursor: pointer;
	color: rgba(0,0,0,0.95);
}

.key {
	margin-top: 98px;
}

.library-close-btn {
	position: absolute; 
	right: 15px; 
	top: 20px; 
	color: #ddd;
}

.library-close-btn:hover {
	color: #fff;
}

.alert {
    padding: 15px;
}


.library-card {
  float: left;
  width: 220px;
  height: 58px;
  margin: 0 0 0 -5px;
  position: relative;
  padding: 5px;
  color: #eee;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

.library-card:first-of-type {
	border-top: 1px solid rgba(0,0,0,0.25);
}

.selected-card {
	background-color: rgba(0,0,0,0.2);
	/*border-top: 1px solid rgba(0,0,0,0.25);*/
	opacity: .9;
	color: #fff;
}

.library-card:hover {
	background-color: rgba(0,0,0,0.10);
	cursor: pointer;
}

.library-icon {
	width: 30px;
	position: absolute;
	left: 10px;
	top: 10px;
}

.library-card-main {
	width: 155px;
	position: absolute;
	left: 52px;
	top: 12px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	font-size: 12px;
}

.library-card-main a {
	color: #ddd;
}

.library-card-subtitle {
	width: 155px;
	position: absolute;
	left: 50px;
	top: 25px;
	padding: 2px 2px 3px 2px;
	color: #8ba2b9;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.permission-level-icon {
	height: 20px;
    margin-top: -5px;
}


.library-search {
	background: #314151; 
	border: 1px solid #314151; 
	color: #fff; 
	height: 32px; 
	width: 200px; 
	margin-left: 10px; 
	margin-right: 10px;
}


.key-container {
	position: relative;
	padding-bottom: 15px;
}

.key-icon {
	width: 50px;
}

.key-class {
	position: absolute;
	top: 0px;
	left: 50px;
}

.nav-library {
	margin-left: -1px; 
	margin-top: 0px;
	background: #314151;
	border-left: 1px solid #123;
}

.nav-library-tab {
	border-width: 0px; 
	color: #eee; 
	background: #314151;
}

.nav-library-tab-link {
	height: 59px;
	padding-top: 20px; 
	background: transparent;
}


#library .nav-tabs li:not(active) a {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background-color: #314151;
    color: rgba(255,255,255,0.5);
    padding: 20px 0;
}

#library .nav-tabs .active a {
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid transparent;
    background-color: #37495b;
    color: inherit !important;
}


/* Branches
---------------------------------------------- */
#branch-panel {
	position: absolute;
	top: 0px;
	right: 220px;
	padding-left: 7px;
	padding-right: 5px;
	overflow-y: scroll;
}


.branch-preview {
	height: 550px;
	width: 280px;
	background: #f1f1f1;
	border: 1px solid #123;
	color: #123;
}

.branch-metadata {
	padding-top: 8px;
}

.branch-icon{
	border: 1px solid rgba(0,0,0,0.25);
}

.branch-icon:hover{
	border: 1px solid rgba(0,0,0,0.25);
	background: #5fa2dd;
}


/* Permissions
---------------------------------------------- */
#permissions-panel {
	position: absolute;
	top: 0px;
	right: 220px;
	padding-left: 7px;
	padding-right: 5px;
	overflow-y: scroll;
}



.clear-selection {
	background: #314151; 
	width: 100%; 
	height: 21px; 
	padding-top: 4px; 
	margin-bottom: 0px; 
	padding-bottom: 0px; 
	margin-top: 10px;
}

.clear-selection-link {
	font-size: 9px; 
	float: right;
	color: #ddd;
}

.clear-selection-link:hover {
	color: #fff;
}



/* Overrides
---------------------------------------------- */
.ltr {
	direction: ltr;
}









